# Environment stuff
.vscode/
.ipynb_checkpoints/
.python-version

# Python bins
*.pyc

# LaTeX auxiliary
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.synctex.gz
*.nav
*.toc
*.snm

# Datasets
*.csv

# Plots
plots/
